.slider {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 600px;
}

.slider img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slider-button:hover {
  background-color: #333;
}